In [1]:
import os
import selenium
import pandas as pd
os.environ['PATH'] = f'{os.environ["PATH"]}:{os.getcwd()}/drivers'

In [2]:
os.environ['PATH']

'/Users/Julia/miniconda3/envs/jupyter_env/bin:/Users/Julia/miniconda3/bin:/Users/Julia/miniconda3/bin:/Users/Julia/miniconda3/bin:/Users/Julia/miniconda3/bin:/Users/Julia/miniconda3/condabin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/X11/bin:/Users/Julia/labs/dataptmad1019/module-1/lab-renfe/drivers'

In [3]:
from selenium import webdriver
import datetime

ORIGIN = 'MADRID'
DESTINATION = 'PONFERRADA'

# tickets for tomorrow
DATE = (datetime.date.today() + datetime.timedelta(days=1)).strftime('%d/%m/%Y')

from selenium.webdriver.common.keys import Keys

browser = webdriver.Chrome()
browser.get('http://www.renfe.com/')

origin = browser.find_element_by_name('desOrigen')
origin.send_keys(ORIGIN)
origin.send_keys(Keys.ARROW_DOWN)
origin.send_keys(Keys.ENTER)

destination = browser.find_element_by_name('desDestino')
destination.send_keys(DESTINATION)
destination.send_keys(Keys.ARROW_DOWN)
destination.send_keys(Keys.ENTER)

date = browser.find_element_by_name('__fechaIdaVisual')
date.send_keys(Keys.BACK_SPACE * 10)
date.send_keys(DATE)

destination.send_keys(Keys.ENTER)

browser.implicitly_wait(10)

In [15]:
list_departures = []
for row in browser.find_elements_by_css_selector("tr.trayectoRow"):
    cell = row.find_elements_by_tag_name("td")[1]
    list_departures.append(cell.text)
    
list_arrivals = []
for row in browser.find_elements_by_css_selector("tr.trayectoRow"):
    cell_1 = row.find_elements_by_tag_name("td")[2]
    list_arrivals.append(cell_1.text)
    
list_duration = []
for row in browser.find_elements_by_css_selector("tr.trayectoRow"):
    cell_2 = row.find_elements_by_tag_name("td")[3]
    list_duration.append(cell_2.text) 

list_prices = []
for row in browser.find_elements_by_css_selector("tr.trayectoRow"):    
    cell_3 = row.find_elements_by_tag_name("td")[5]
    list_prices.append(cell_3.text)

In [16]:
print(list_departures)
print(list_arrivals)
print(list_duration)
print(list_prices)

['14.40', '14.40', '14.40', '17.30', '22.14']
['18.33', '20.02', '18.52', '21.33', '04.31']
['3 h. 53 min.', '5 h. 22 min.', '4 h. 12 min.', '4 h. 3 min.', '6 h. 17 min.']
['Tren Completo', 'Tren Completo', 'Tren Completo', 'Tren Completo', 'Tren Completo']

In [17]:
columns = {'Departure_time' : pd.Series(list_departures), 'Arrival_time' : pd.Series(list_arrivals), 'Duration' : pd.Series(list_duration), 'Price' : pd.Series(list_prices)} 

df = pd.DataFrame(columns)

display(df)

  Departure_time Arrival_time      Duration          Price
0          14.40        18.33  3 h. 53 min.  Tren Completo
1          14.40        20.02  5 h. 22 min.  Tren Completo
2          14.40        18.52  4 h. 12 min.  Tren Completo
3          17.30        21.33   4 h. 3 min.  Tren Completo
4          22.14        04.31  6 h. 17 min.  Tren Completo

In [ ]:
browser.close()